.color-card {
    background-color: #FF8700;
    color: white; 
}
h1 {
  font-size: 120px;
}
h5 {
    font-weight: bolder;
    font-size: 30px;
    color: #000000;
}

.section-two{
background-color:rgb(231, 229, 229);
}
.btn.btn-fashion {
  background-color: #000000 !important;
  color: white;
  font-weight: 700;
  font-size: 25px;
  border-radius: 0px;
  height: 50px;
  width: 350px;
  margin-left:20%;
  
}
.titulo-main {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20%;
}
.btn-cards{
    background-color: #000000 !important;
    border: #000000;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 250px;
    height: 40px;
}
.btn-footer{
    background-color:#FF8700!important;
    border: #e77d04;
    color: white;
    border-radius: 0px;
    width: 250px;
    height: 45px;
}
.card {
    border: white;
    background-color: whitesmoke;
}
img {
    border-radius: 8px;
}
@media (max-width: 576px) {
    h1 {
        font-size: 20px;
    }
    .btn.btn-fashion {
        background-color: #000000 !important;
        color: white;
        font-weight: 700;
        font-size: 8px;
        border-radius: 0px;
        height: 30px;
        width: 100px;
        margin-left:20%;
}
.imagen-inicio {
    width: 250px;
    height: 380px;
}
}